{% extends 'header_footer.html' %}
{% block content %}
{% load static %}
{% load poll_extras %}

<style>
    .custom-file-button {
    input[type="file"] {
    margin-left: -2px !important;
    &::-webkit-file-upload-button {
    display: none;
    }
    &::file-selector-button {
    display: none;
    }
    }
    &:hover {
    label {
    background-color: #dde0e3;
    cursor: pointer;
    }
    }
    }
    .center-cropped-profile {
    width: 120px;
    height: 120px;
    background-position: center center;
    background-repeat: no-repeat;
    }
 
    .center-cropped-profile2 {
     width: 70px;
     height: 70px;
     background-position: center center;
     background-repeat: no-repeat;
     }
 </style>

         <div class="page-wrapper">
            <div class="content container-fluid">
               <div class="page-header">
                  <div class="row align-items-center">
                     <div class="col">
                        <h3 class="page-title">Add Teachers</h3>
                        <ul class="breadcrumb">
                           <li class="breadcrumb-item"><a href="teachers.html">Teachers</a></li>
                           <li class="breadcrumb-item active">Add Teachers</li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-sm-12">
                     <div class="card">
                        <div class="card-body">
                           <form enctype="multipart/form-data" class="needs-validation" novalidate  method="post" id="main_frm" name="main_frm" >
                              {% csrf_token %}
                              <div class="row">
                                 <div class="col-12">
                                    <h5 class="form-title"><span>Basic Details</span></h5>
                                 </div>
                                 <input type="hidden"  name="teacher_id" value="{{select_teacher.id}}">
                                 <div class="col-12 col-sm-4">
                                    <div class="form-group local-forms">
                                       <label>Teacher Name <span class="login-danger">*</span></label>
                                       <input type="text" class="form-control" placeholder="Enter Name" value="{{select_teacher.teacher_name}}" name="teacher_name" required>
                                       <div class="invalid-feedback">Please Enter Name</div>
                                    </div>
                                 </div>
                                 <div class="col-12 col-sm-4">
                                    <div class="form-group local-forms">
                                       <label>Gender <span class="login-danger">*</span></label>
                                       <select class="form-control" name="teacher_gender" required>
                                          <option value="">Select Gender</option>
                                          <option {% if select_teacher.teacher_gender == 'Male' %}  selected {% endif %} value="Male">Male</option>
                                          <option {% if select_teacher.teacher_gender == 'Female' %}  selected {% endif %} value="Female">Female</option>
                                         
                                       </select>
                                       <div class="invalid-feedback">Please Select Gender</div>
                                    </div>
                                 </div>
                                 <div class="col-12 col-sm-4">
                                    <div class="form-group local-forms calendar-icon">
                                       {% with teacher_birthdate=select_teacher.teacher_birthdate|date:"d-m-Y" %}
                                       <label>Date Of Birth<span class="login-danger">*</span></label>
                                       <input class="form-control datetimepicker" type="text" placeholder="DD-MM-YYYY" value="{{teacher_birthdate}}" name="teacher_birthdate" required>
                                       <div class="invalid-feedback">Please Select Birthdate</div>
                                       {% endwith %}

                                    </div>
                                 </div>
                                 
                                 <div class="col-12 col-sm-4">
                                    <div class="form-group local-forms calendar-icon">
                                       <label>Joining Date <span class="login-danger">*</span></label>
                                       {% with teacher_joindate=select_teacher.teacher_joindate|date:"d-m-Y" %}
                                       <input class="form-control datetimepicker" type="text" placeholder="DD-MM-YYYY" value="{{teacher_joindate}}" name="teacher_joindate" required>
                                       <div class="invalid-feedback">Please Select Joining Date</div>
                                       {% endwith %}
                                    </div>
                                 </div>
                                 <div class="col-12 col-sm-4 local-forms">
                                    <div class="form-group">
                                       <label>Qualification <span class="login-danger">*</span></label>
                                       <input class="form-control" type="text" placeholder="Enter Qualification" name="teacher_qualification" value="{{select_teacher.teacher_qualification}}" required>
                                       <div class="invalid-feedback">Please Enter Qualification</div>
                                    </div>
                                 </div>
                                 <div class="col-12 col-sm-4">
                                    <div class="form-group local-forms">
                                       <label>Experience <span class="login-danger">*</span></label>
                                       <input class="form-control" type="text" placeholder="Enter Experience" name="teacher_experience" value="{{select_teacher.teacher_experience}}" required>
                                       <div class="invalid-feedback">Please Enter Experience</div>
                                    </div>
                                 </div>
                                 <div class="col-12 col-sm-4">
                                    <div class="form-group local-forms">
                                       <label>Mobile <span class="login-danger">*</span></label>
                                       <input type="text" class="form-control" placeholder="Enter Phone" name="teacher_mobile" value="{{select_teacher.teacher_mobile}}" required>
                                       <div class="invalid-feedback">Please Enter Mobile No</div>
                                    </div>
                                 </div>
                                 <div class="col-12 col-sm-8">
                                    <div class="form-group local-forms">
                                       <label>Address <span class="login-danger">*</span></label>
                                       <input type="text" class="form-control" placeholder="Enter address" name="teacher_address" value="{{select_teacher.teacher_address}}" required>
                                       <div class="invalid-feedback">Please Enter Address</div>
                                    </div>
                                 </div>
                                 <div class="col-12 col-sm-4">
                                    <div class="form-group local-forms">
                                       <label>Branch <span class="login-danger">*</span></label>
                                       <select class="form-control select2" multiple name="branch_ids" required>
                                          <!-- <option value="">Select Branch</option> -->
                                        {% for row in all_branch %}
                                          <option  {%  if select_teacher.branch_ids|isExists:row.id  %}  selected {% endif %} value="{{row.id }}">{{row.branch_name}}</option>
                                        {% endfor %}
                                         
                                       </select>
                                       <div class="invalid-feedback">Please Select Branch</div>
                                    </div>
                                 </div>


                                 <div class="col-12">
                                    <h5 class="form-title"><span>Login Details</span></h5>
                                 </div>
                                 <div class="col-sm-3 text-center">
                                    {% if select_teacher.user_id.user_image %}
                                    <img  src="{{ select_teacher.user_id.user_image.url }}" id="image_preview" alt="image" class="img-fluid rounded-circle center-cropped-profile"  style="margin-bottom:10px;">
                                    {% else %}
                                    <img  src="{% static 'assets/user_default.jpg' %}" id="image_preview" alt="image" class="img-fluid rounded-circle center-cropped-profile"  style="margin-bottom:10px;">
                                    {% endif %}
                                    <div class="input-group custom-file-button">
                                       <label class="input-group-text" for="inputGroupFile">Choose Photo</label>
                                       <input type="file" class="form-control"  name="user_image" aria-label="file example" id="inputGroupFile" onchange="readURL(this)" {% if action != "edit" %} required {% endif %} >
                                       <div class="invalid-feedback">Please Select Profile Photo</div>
                                    </div>
                                 </div>

                                 <div class="col-9">
                                    <div class="col-12 col-sm-12">
                                        <div class="form-group local-forms">
                                            <label>User Name <span class="login-danger">*</span></label>
                                            <input type="text" class="form-control" placeholder="Enter Username" name="user_name" value="{{select_teacher.user_id.user_name}}" required>
                                            <div class="invalid-feedback">Please User Name</div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-12">
                                        <div class="form-group local-forms">
                                            <label>Email ID <span class="login-danger">*</span></label>
                                            <input type="email" class="form-control" placeholder="Enter Mail Id" name="user_email" value="{{select_teacher.user_id.user_email}}" required>
                                            <div class="invalid-feedback">Please Enter Email</div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-12">
                                        <div class="form-group local-forms">
                                            <label>Password <span class="login-danger">*</span></label>
                                            <input type="text" class="form-control" placeholder="Enter Password" name="user_password" {% if action != "edit" %} required {% endif %} >
                                            <div class="invalid-feedback">Please Enter Password</div>
                                        </div>
                                    </div>
                                </div>
                                
                                 <div class="col-12">
                                    <div class="student-submit">
                                       {% if action == "edit" %}
                                       <button type="button" class="btn btn-primary" onclick="ins_teacher(document.main_frm,'savec')">Save & Continue</button>
                                       {% else %}
                                       <button type="button" class="btn btn-primary" onclick="ins_teacher(document.main_frm,'save')">Save</button>
                                       <button type="button" class="btn btn-primary" onclick="ins_teacher(document.main_frm,'savec')">Save & Continue</button>
                                       {% endif %}
                                    </div>
                                 </div>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <script>
         function ins_teacher(frm,save)
         {
           
            
            var f1 = new FormData(frm);
            $.ajax({
            url:'{% url "addTeacher" %}',
            type:"post",
            data:f1,
            processData:false,
            contentType:false,
            dataType:"json",
            success:function(response)
            {
               if(response.success)
               {
                  // $("#branch_frm")[0].reset();
                  $("#main_frm").removeClass("was-validated");
                  reset_From('main_frm');
                  toastr.success(response.msg, "", {
                        closeButton: !0,
                        tapToDismiss: !1,
                        positionClass: "toast-bottom-right",
                        timeOut: 2e3,
                     
                  });
                  if(save=="savec")
                  {
                     window.location.href = '{% url "teacherList" %}';
                  }
               }
               else
               {
                     $("#main_frm").addClass("was-validated");
                     toastr.error(response.msg, "", {
                        closeButton: !0,
                        tapToDismiss: !1,
                        positionClass: "toast-bottom-right",
                        timeOut: 2e3,
                     
                  });
               }
                  
            }
         });

         }
      </script>

<script>
   function reset_From(form_id)
   {
         $(':input','#'+form_id)
            .not(':button, :submit, :reset, :hidden')
            .val('')
            .prop('checked', false)
            .prop('selected', false);
            $(".select2").val("").trigger( "change" );
           $('#teacher_id').val("");
           $('#image_preview').attr('src', '{% static "assets/user_default.jpg" %}');
      
   }
</script>
      {% endblock %}