{% extends 'header_footer.html' %}
{% block content %}
{% load static %}
{% load poll_extras %}

         <div class="page-wrapper">
            <div class="content container-fluid">
               <div class="page-header">
                  <div class="row align-items-center">
                     <div class="col">
                        <h3 class="page-title">Teachers</h3>
                        <ul class="breadcrumb">
                           <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                           <li class="breadcrumb-item active">Teachers</li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-sm-12">
                     <div class="card">
                       
                        <div class="card-body">
                           <div class="page-header">
                              <h4 class="page-title">Search </h4>
                           </div>

                           <div class="student-group-form" >
                              <form enctype="multipart/form-data" class="needs-validation" novalidate  method="post" id="search_frm" name="search_frm" >
                                 {% csrf_token %}
                                 <input type="hidden" name="page_no" id="page_no" />
                                 <div class="row" style="display: flex; justify-content: center;  align-items: center;">
                                    
                                    <div class="col-lg-1 col-md-6">
                                       <div class="form-group">
                                          <input type="text" class="form-control" placeholder="ID" name="id">
                                       </div>
                                    </div>
                                    <div class="col-lg-2 col-md-6">
                                       <div class="form-group">
                                          <input type="text" class="form-control" placeholder="Search by Name ... " name="teacher_name">
                                       </div>
                                    </div>
                                    <div class="col-lg-2 col-md-6">
                                       <div class="form-group">
                                          <input type="text" class="form-control" placeholder="Search by Phone ..." name="teacher_mobile">
                                       </div>
                                    </div>
                                    <div class="col-lg-2 col-md-6">
                                       <div class="form-group">
                                          <input type="text" class="form-control" placeholder="Search by Address ..." name="teacher_address">
                                       </div>
                                    </div>
                                    <div class="col-lg-2 col-md-6">
                                       <div class="form-group">
                                          <select class="form-control" name="teacher_gender" >
                                             <option value="">Select Gender</option>
                                             <option  value="Male">Male</option>
                                             <option  value="Female">Female</option>
                                          
                                          </select>
                                       </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                       <div class="form-group local-forms">
                                                   <label>Branch <span class="login-danger">*</span></label>
                                                      <select class="form-control "  name="branch_ids" required>
                                                       <option value="">Select Branch</option> 
                                                      {% for row in all_branch %}
                                                         <option  value="{{row.id }}">{{row.branch_name}}</option>
                                                      {% endfor %}
                                                      
                                                      </select>
                                       </div>
                                    </div>
                                    <div class="col-lg-2">
                                       <div class="search-student-btn">
                                          <button type="button" onClick="return pageChange(1)" class="btn btn-primary">Search</button>
                                       </div>
                                    </div>
                                 
                                 </div>
                              </form>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-sm-12">
                     <div class="card card-table">
                        <div class="card-body">
                           <div class="page-header">
                              <div class="row align-items-center">
                                 <div class="col">
                                    <h3 class="page-title">Teachers List </h3>
                                 </div>
                                 <div class="col-auto text-end float-end ms-auto download-grp">
                                   
                                 
                                    <a href="{% url "addTeacher" %}" class="btn btn-primary"><i class="fas fa-plus"></i></a>
                                 </div>
                              </div>
                           </div>
                           <div id="viewtable">
                             
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>          

<script>
   document.addEventListener("DOMContentLoaded", () => {
      pageChange(1)
    });

   function pageChange(page)
   {
      $("#page_no").val(page);
      var frm = document.getElementById('search_frm'); 
      var f1 = new FormData(frm);
      $.ajax({
         url:"{% url 'pageWithSearch' %}",
         type:"post",
         data:f1,
         processData:false,
         contentType:false,
         success: function(response)
         {
            $('#viewtable').html(response);
         }
      });
   }
</script>
<script>
   function delRecord(id)
   {
      Swal.fire({
         title: "Are you sure?",
         text: "You won't be able to revert this!",
         type: "warning",
         showCancelButton: !0,
         confirmButtonColor: "#3085d6",
         cancelButtonColor: "#d33",
         confirmButtonText: "Yes, delete it!",
         confirmButtonClass: "btn btn-primary",
         cancelButtonClass: "btn btn-danger ml-1",
         buttonsStyling: !1
     }).then(function(t) {
         if(t.value)
         {
            $.ajax({
               url:"{% url 'actionTeacher' %}",
               type:"post",
               data:{'id':id,
                     'teacher_action':'delete'},
               headers: {
                  'X-CSRFToken': '{{ csrf_token }}'
              },
               success: function()
                     {
                       
                        $('#viewtable').load(document.URL + ' #viewtable', function() {
                           // Reinitialize DataTable
                           $(".datatable1").dataTable();
                       });
                       Swal.fire({
                        title: "Good job!",
                        text: "Branch Delete Successfully",
                        icon: "success"
                      });
                    }
               });
         }
     })

    
      
   }
</script>

            {% endblock %}